Repository Rades98/FluentTesting, changes with the labels that .github/labeler.yml gives for each.
All labels: ASP, CORE, ELASTIC, KAFKA, MONGO, RabbitMQ, Redis, SQL, PostgreSQL, DevOps, Azurite, documentation

.github/labeler.yml:

ASP:
 - src/FluentTesting.Asp/**
CORE:
 - src/FluentTesting/**
 - src/FluentTesting.Common/**
ELASTIC:
 - src/FluentTesting.Elasticsearch/**
KAFKA:
 - src/FluentTesting.Kafka/**
MONGO:
 - src/FluentTesting.Mongo/**
RabbitMQ:
 - src/FluentTesting.RabbitMq/**
Redis:
 - src/FluentTesting.Redis/**
SQL:
 - src/FluentTesting.Sql/**
PostgreSQL:
 - src/FluentTesting.PostgreSql/** 
DevOps:
 - .github/**
Azurite:
 - src/FluentTesting.Azurite/**   
documentation:
 - docs/**

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Common/Options/ContainerConfig.cs
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: CORE, SQL, documentation

deploy: ba7aa21c935259af5d01529dd4f3e1ca90501fab
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: 418ece048bd44801fd751186a3eb979078886d33
  index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Common/Extensions/ContainerExtensions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: CORE, SQL, documentation

deploy: 4ce579d6399751fcee29cb78fc2ca0dc9304ddc5
  index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: b782b2cfa58ca61d81227026ba2d39c3aeefb4b0
  index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Options/SqlOptions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: dc6aede0fc0c61fb4f0e8bf90548fc094a22271f
  index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: 8da4f667ae16985a004e8b50dfcafe4e32126dfa
  index.html
  search/search_index.json
Labels: none

feature:sqlSnapshot
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SqlTests.cs
Labels: SQL, documentation

deploy: 140c5bc7035fe229f4732513b82b1457823aa81f
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

feature:azuriteVersioning
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Azurite/Options/AzuriteOptions.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: Azurite, documentation

deploy: d8c7b104ee9d4e95049af0b5fa727f2e991c4895
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

azure cli version
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Azurite/AzuriteExtensions.cs
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Azurite/Options/AzuriteOptions.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: Azurite, documentation

deploy: c7a5e515c6e9b7d5f592ef96f9dbade6baaf72d6
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

asd
  Directory.Build.props
  Directory.Packages.props
  FluentTesting.sln
  FluentTesting.slnx
  NuGet.config
  docs/index.md
  samples/Samples.AspApp/Adapters/Redis/RedisAdapter.cs
  samples/Samples.AspApp/Samples.AspApp.csproj
  samples/Samples.Worker.RabbitMq/Samples.Worker.RabbitMq.csproj
  src/FluentTesting.Asp/FluentTesting.Asp.csproj
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Common/Extensions/ContainerBuilderExtensions.cs
  src/FluentTesting.Common/Extensions/DockerImageExtensions.cs
  src/FluentTesting.Common/FluentTesting.Common.csproj
  src/FluentTesting.Common/Options/ContainerConfig.cs
  src/FluentTesting.Elasticsearch/Containers/ElasticsearchContainerUtils.cs
  src/FluentTesting.Kafka/Containers/KafkaContainerUtils.cs
  src/FluentTesting.Kafka/FluentTesting.Kafka.csproj
  src/FluentTesting.Mongo/Container/MongoContainerUtils.cs
  src/FluentTesting.RabbitMq/Containers/RabbitMqContainerUtils.cs
  src/FluentTesting.RabbitMq/FluentTesting.RabbitMq.csproj
  src/FluentTesting.Redis/RedisExtensions.cs
  src/FluentTesting.Sql/Options/SqlOptions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
  tests/FluentTesting.Common.Tests/FluentTesting.Common.Tests.csproj
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
  tests/Samples.Worker.RabbitMq.Tests/Samples.Worker.RabbitMq.Tests.csproj
Labels: ASP, CORE, ELASTIC, KAFKA, MONGO, RabbitMQ, Redis, SQL, Azurite, documentation

deploy: f31d5457425c1d3a2d67824f9fc15f60cb73f647
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: DevOps

deploy: 71b6df3bf3f42c5a89466c31948a105650fdd4ba
  index.html
Labels: none

xunitv3
  Directory.Build.props
  Directory.Packages.props
  src/FluentTesting.Common/FluentTesting.Common.csproj
  tests/FluentTesting.Common.Tests/FluentTesting.Common.Tests.csproj
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
  tests/Samples.Worker.RabbitMq.Tests/Samples.Worker.RabbitMq.Tests.csproj
Labels: CORE

deploy: 8b77e5cfc25f6a49e9b7da51e9c1daa00888850d
  index.html
  sitemap.xml.gz
Labels: none

nito removal
  Directory.Build.props
  Directory.Packages.props
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting.Azurite/AzuriteExtensions.cs
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Azurite/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Common/Abstraction/ApplicationFactory.cs
  src/FluentTesting.Common/Abstraction/ContainerActionPair.cs
  src/FluentTesting.Common/ApplicationFactoryBuilder.cs
  src/FluentTesting.Common/Extensions/ContainerExtensions.cs
  src/FluentTesting.Common/FluentTesting.Common.csproj
  src/FluentTesting.Common/Interfaces/IApplicationFactory.cs
  src/FluentTesting.Common/Interfaces/IApplicationFactoryBuilder.cs
  src/FluentTesting.Elasticsearch/ElasticsearchExtensions.cs
  src/FluentTesting.Kafka/KafkaExtensions.cs
  src/FluentTesting.Kafka/SerDes/ReflectionHelper.cs
  src/FluentTesting.Mongo/Container/MongoContainerUtils.cs
  src/FluentTesting.Mongo/MongoExtensions.cs
  src/FluentTesting.RabbitMq/Containers/RabbitMqContainerUtils.cs
  src/FluentTesting.RabbitMq/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.RabbitMq/RabbitMqExtensions.cs
  src/FluentTesting.Redis/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Redis/RedisExtensions.cs
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: ASP, CORE, ELASTIC, KAFKA, MONGO, RabbitMQ, Redis, SQL, Azurite, documentation

deploy: 77c900f72aafe791b3d650993b760745b86d088f
  index.html
  samples/index.html
  search/search_index.json
Labels: none

client + cleanup
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting.Common/Abstraction/ApplicationFactory.cs
  src/FluentTesting.Common/Interfaces/IApplicationFactory.cs
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  tests/Samples.AspApp.Tests/Endpoints/EndpointTests.cs
Labels: ASP, CORE, SQL, documentation

deploy: bb5082bf377133a87496f68ee1981cb940c78e66
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

hardcoded sql removal
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
Labels: SQL, documentation

deploy: b122d6e770977f75bb6a45bc697d843e2ba9123f
  index.html
  search/search_index.json
Labels: none

client fix
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
Labels: ASP, documentation

deploy: 8071fab6fdf5de6fecee8a914ebbe94ac0626e88
  index.html
  search/search_index.json
Labels: none

sql allow usage + show results
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: b981df694d4c6289b2154f2447903db187ff4bf4
  index.html
  search/search_index.json
Labels: none

new client
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/Endpoints/EndpointTests.cs
Labels: ASP, documentation

deploy: 452596a43d5ee5f027587049f448fb27b8286b60
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none
