Repository Rades98/FluentTesting, changes with the labels that .github/labeler.yml gives for each.
All labels: ASP, CORE, ELASTIC, KAFKA, MONGO, RabbitMQ, Redis, SQL, PostgreSQL, DevOps, Azurite, documentation

.github/labeler.yml:

ASP:
 - src/FluentTesting.Asp/**
CORE:
 - src/FluentTesting/**
 - src/FluentTesting.Common/**
ELASTIC:
 - src/FluentTesting.Elasticsearch/**
KAFKA:
 - src/FluentTesting.Kafka/**
MONGO:
 - src/FluentTesting.Mongo/**
RabbitMQ:
 - src/FluentTesting.RabbitMq/**
Redis:
 - src/FluentTesting.Redis/**
SQL:
 - src/FluentTesting.Sql/**
PostgreSQL:
 - src/FluentTesting.PostgreSql/** 
DevOps:
 - .github/**
Azurite:
 - src/FluentTesting.Azurite/**   
documentation:
 - docs/**

deploy: 935887d91dd98cdb4a779308ef30abe8c264270d
  404.html
  asp/aspExtensions/index.html
  blob/azureExplorer/index.html
  blob/blob/index.html
  dotnet/index.html
  elastic/elastic/index.html
  elastic/kibana/index.html
  faq/faq/index.html
  index.html
  kafka/akhq/index.html
  kafka/kafka/index.html
  mocking/index.html
  mongo/mongo/index.html
  mongo/mongoExpress/index.html
  rabbit/rabbit/index.html
  rabbit/rabbitManager/index.html
  rabbit/rabbitSamples/index.html
  redis/redis/index.html
  redis/redisInsight/index.html
  samples/index.html
  sitemap.xml.gz
  sql/adminer/index.html
  sql/sql/index.html
Labels: none

sql snapshot + restore
  docs/index.md
  samples/Samples.AspApp/Program.cs
  samples/Samples.AspApp/Repos/ISomeRepo.cs
  samples/Samples.AspApp/Repos/SomeRepo.cs
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  src/FluentTesting.Sql/Options/SqlOptions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
  src/FluentTesting/common.props
  tests/Samples.AspApp.Tests/EndpointTests.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: CORE, SQL, documentation

deploy: 3a9b4d0649455ea396b0b0e98844a9ca351cb58b
  404.html
  asp/asp/index.html
  asp/aspExtensions/index.html
  blob/azureExplorer/index.html
  blob/blob/index.html
  dotnet/index.html
  elastic/elastic/index.html
  elastic/kibana/index.html
  faq/faq/index.html
  index.html
  kafka/akhq/index.html
  kafka/kafka/index.html
  mocking/index.html
  mongo/mongo/index.html
  mongo/mongoExpress/index.html
  rabbit/rabbit/index.html
  rabbit/rabbitManager/index.html
  rabbit/rabbitSamples/index.html
  redis/redis/index.html
  redis/redisInsight/index.html
  samples/index.html
  sitemap.xml.gz
  sql/adminer/index.html
  sql/sql/index.html
Labels: none

docs
  FluentTesting.sln
  docs/sql/extensions.md
  mkdocs.yml
Labels: documentation

note
  docs/sql/extensions.md
Labels: documentation

deploy: c94df403186e011229a729ba4f3cb499d0b64123
  404.html
  asp/asp/index.html
  asp/aspExtensions/index.html
  blob/azureExplorer/index.html
  blob/blob/index.html
  dotnet/index.html
  elastic/elastic/index.html
  faq/faq/index.html
  index.html
  kafka/akhq/index.html
  kafka/kafka/index.html
  mocking/index.html
  mongo/mongo/index.html
  mongo/mongoExpress/index.html
  rabbit/rabbit/index.html
  rabbit/rabbitManager/index.html
  rabbit/rabbitSamples/index.html
  redis/redis/index.html
  redis/redisInsight/index.html
  samples/index.html
  sql/adminer/index.html
  sql/extensions/index.html
  sql/sql/index.html
Labels: none

#51
  Directory.Build.props
  FluentTesting.sln
  docs/index.md
  docs/sql/extensions.md
  docs/sql/sql.md
  mkdocs.yml
  samples/Samples.Worker.RabbitMq/Samples.Worker.RabbitMq.csproj
  src/FluentTesting.Asp/FluentTesting.Asp.csproj
  src/FluentTesting.Azurite/FluentTesting.Azurite.csproj
  src/FluentTesting.Common/FluentTesting.Common.csproj
  src/FluentTesting.Elasticsearch/FluentTesting.Elasticsearch.csproj
  src/FluentTesting.Kafka/FluentTesting.Kafka.csproj
  src/FluentTesting.Mongo/FluentTesting.Mongo.csproj
  src/FluentTesting.RabbitMq/FluentTesting.RabbitMq.csproj
  src/FluentTesting.Redis/FluentTesting.Redis.csproj
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  src/FluentTesting.Sql/FluentTesting.Sql.csproj
  src/FluentTesting.Sql/SqlExtensions.cs
  src/FluentTesting/common.props
  tests/Samples.AspApp.Tests/EndpointTests.cs
  tests/Samples.AspApp.Tests/SomeTable.cs
Labels: ASP, CORE, ELASTIC, KAFKA, MONGO, RabbitMQ, Redis, SQL, Azurite, documentation

cd update
  .github/workflows/cd.yml
Labels: DevOps

cmn props removal
  src/FluentTesting/FluentTesting.csproj
Labels: CORE

test proj edit
  tests/FluentTesting.Common.Tests/FluentTesting.Common.Tests.csproj
Labels: none

Update mkdocs-deply.yml
  .github/workflows/mkdocs-deply.yml
Labels: DevOps

Update mkdocs-deply.yml
  .github/workflows/mkdocs-deply.yml
Labels: DevOps

blob extensions
  .github/workflows/mkdocs-deply.yml
  Directory.Build.props
  FluentTesting.sln
  docs/blob/blob.md
  docs/blob/blobExtensions.md
  docs/common.md
  docs/index.md
  mkdocs.yml
  samples/Samples.AspApp/Adapters/AppBlobServiceClient.cs
  samples/Samples.AspApp/Adapters/BlobAdapter.cs
  samples/Samples.AspApp/Adapters/IBlobAdapter.cs
  samples/Samples.AspApp/Program.cs
  samples/Samples.AspApp/Samples.AspApp.csproj
  src/FluentTesting.Azurite/AzuriteExtensions.cs
  src/FluentTesting.Azurite/BlobData.cs
  src/FluentTesting.Azurite/BlobDataConverter.cs
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Azurite/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Azurite/Extensions/FixtureExtensions.cs
  src/FluentTesting.Azurite/Options/AzuriteOptions.cs
  src/FluentTesting.Azurite/Options/BlobContainer.cs
  src/FluentTesting.Azurite/Options/BlobFile.cs
  src/FluentTesting.Common/Extensions/ContainerExtensions.cs
  tests/Samples.AspApp.Tests/EndpointTests.cs
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
  tests/Samples.AspApp.Tests/Shared/asd.png
Labels: CORE, DevOps, Azurite, documentation

deploy: 359fda1d038e3a62d5f9a0969f3c4af9ad006bf6
  404.html
  asp/asp/index.html
  asp/aspExtensions/index.html
  blob/azureExplorer/index.html
  blob/blob/index.html
  blob/blobExtensions/index.html
  common/index.html
  dotnet/index.html
  elastic/elastic/index.html
  elastic/kibana/index.html
  faq/faq/index.html
  index.html
  kafka/akhq/index.html
  kafka/kafka/index.html
  mocking/index.html
  mongo/mongo/index.html
  mongo/mongoExpress/index.html
  rabbit/rabbit/index.html
  rabbit/rabbitManager/index.html
  redis/redis/index.html
  redis/redisInsight/index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
  sql/adminer/index.html
  sql/extensions/index.html
  sql/sql/index.html
Labels: none

#57 redis extensions
  FluentTesting.sln
  docs/redis/redis.md
  docs/redis/redisExtensions.md
  mkdocs.yml
  samples/Samples.AspApp/Adapters/Blob/AppBlobServiceClient.cs
  samples/Samples.AspApp/Adapters/Blob/BlobAdapter.cs
  samples/Samples.AspApp/Adapters/Blob/IBlobAdapter.cs
  samples/Samples.AspApp/Adapters/BlobAdapter.cs
  samples/Samples.AspApp/Adapters/Redis/IRedisAdapter.cs
  samples/Samples.AspApp/Adapters/Redis/RedisAdapter.cs
  samples/Samples.AspApp/Program.cs
  samples/Samples.AspApp/Properties/launchSettings.json
  samples/Samples.AspApp/Samples.AspApp.csproj
  src/FluentTesting.Redis/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Redis/Extensions/FixtureExtensions.cs
  src/FluentTesting.Redis/Options/RedisOptions.cs
  src/FluentTesting.Redis/RedisExtensions.cs
  tests/Samples.AspApp.Tests/EndpointTests.cs
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: Redis, documentation

version
  Directory.Build.props
Labels: none

md blob
  docs/blob/blobExtensions.md
Labels: documentation

deploy: fa93c524de6c6e319f51e51c79f4dc4fca4df0b1
  404.html
  asp/asp/index.html
  asp/aspExtensions/index.html
  blob/azureExplorer/index.html
  blob/blob/index.html
  blob/blobExtensions/index.html
  common/index.html
  dotnet/index.html
  elastic/elastic/index.html
  elastic/kibana/index.html
  faq/faq/index.html
  index.html
  kafka/akhq/index.html
  kafka/kafka/index.html
  mongo/mongo/index.html
  mongo/mongoExpress/index.html
  rabbit/rabbit/index.html
  rabbit/rabbitManager/index.html
  rabbit/rabbitSamples/index.html
  redis/redis/index.html
  redis/redisExtensions/index.html
  redis/redisInsight/index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
  sql/adminer/index.html
  sql/extensions/index.html
  sql/sql/index.html
Labels: none

Update index.md
  docs/index.md
Labels: documentation

deploy: 0271d98f8e4e6e9fb830599918a3dcec8c3c3c1a
  index.html
  search/search_index.json
Labels: none

Update index.md
  docs/index.md
Labels: documentation

deploy: 87f0ecc05b7beec9cbe6ef5191443afd5c255b05
  index.html
  search/search_index.json
Labels: none

#61 #62
  Directory.Build.props
  docs/asp/aspExtensions.md
  docs/blob/azureExplorer.md
  docs/blob/blobExtensions.md
  docs/index.md
  mkdocs.yml
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting.Azurite/AzuriteExtensions.cs
  src/FluentTesting.Azurite/Extensions/FixtureExtensions.cs
  src/FluentTesting.Common/Extensions/ApplicationFactoryBuilderExtensions.cs
  src/FluentTesting.Common/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Redis/RedisExtensions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
  tests/Samples.AspApp.Tests/Blob/BlobTests.cs
  tests/Samples.AspApp.Tests/EndpointTests.cs
  tests/Samples.AspApp.Tests/Endpoints/AssertAuthJson.json
  tests/Samples.AspApp.Tests/Endpoints/AssertJson.json
  tests/Samples.AspApp.Tests/Endpoints/EndpointTests.cs
  tests/Samples.AspApp.Tests/Redis/RedisTests.cs
  tests/Samples.AspApp.Tests/SQL/AssertSqlResponse.json
  tests/Samples.AspApp.Tests/SQL/SqlTests.cs
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: ASP, CORE, Redis, SQL, Azurite, documentation

deploy: 2ed17f439b059c58ec5a99de64cf2675afd5e397
  asp/aspExtensions/index.html
  blob/azureExplorer/index.html
  blob/blobExtensions/index.html
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Fixed sql and azurite errors, added collection retrieval mechanism to sql extensions
  Directory.Build.props
  docs/index.md
  docs/sql/extensions.md
  samples/Samples.AspApp/Program.cs
  src/FluentTesting.Azurite/AzuriteExtensions.cs
  src/FluentTesting.Azurite/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  tests/Samples.AspApp.Tests/Blob/BlobTests.cs
  tests/Samples.AspApp.Tests/SQL/SqlTests.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
  tests/Samples.AspApp.Tests/SomeTable.cs
Labels: SQL, Azurite, documentation

simplyfying
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
Labels: SQL

deploy: 67762e42e521fd1403a53b8cac05246559b4c77b
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
  sql/extensions/index.html
Labels: none

Create BugReport.yaml
  .github/ISSUE_TEMPLATE/BugReport.yaml
Labels: DevOps

deploy: 4c358fdc80935215188ed6e297db967a6d0dd3a8
  index.html
Labels: none

Create FeatureRequesttemplate.yaml
  .github/ISSUE_TEMPLATE/FeatureRequesttemplate.yaml
Labels: DevOps

deploy: d4ba50f2a72d143ece6342eeb671a0caba0881b4
  index.html
Labels: none

sql extension simprovement
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SomeTable.cs
Labels: SQL, documentation

deploy: d0244a311a47d8dc628f1c1c47fd39cf11baa0f7
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

sql nullable fields
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SomeTable.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, documentation

deploy: 909e17f010bc71935f14635906c34f9d9e0c3e57
  index.html
  samples/index.html
  search/search_index.json
Labels: none

fix ports
  Directory.Build.props
  docs/common.md
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Sql/SqlExtensions.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, Azurite, documentation

blob ports
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
Labels: Azurite

doc
  docs/common.md
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: documentation

deploy: 58166f0aeb52c7ac988d5132d1edae22d86ffb65
  common/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

fix:blobPort
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Azurite/AzuriteExtensions.cs
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Azurite/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/Blob/BlobTests.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: Azurite, documentation
