Repository Rades98/FluentTesting, changes with the labels that .github/labeler.yml gives for each.
All labels: ASP, CORE, ELASTIC, KAFKA, MONGO, RabbitMQ, Redis, SQL, PostgreSQL, DevOps, Azurite, documentation

deploy: c65977fb2fe2fac6ea345c5de0a52d879db69ffd
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

fix:NUMERICasDecimal
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SomeTable.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, documentation

deploy: f80ded9f0e9e91516f1a5bb147cad1bf1aa907bf
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

fix:culture
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, documentation

deploy: 78248ad0da497b6b23b83f08c592f97d2c694d25
  index.html
  samples/index.html
  search/search_index.json
Labels: none

sql extensions
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
Labels: SQL, documentation

deploy: 3d5070aa2bf711e077f1e7d252582c05124b7a4b
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

GetMsSqlObjectWithBaseAsync
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Azurite/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SomeTableBase.cs
  tests/Samples.AspApp.Tests/SQL/SomeTableWithBase.cs
  tests/Samples.AspApp.Tests/SQL/SqlTests.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, Azurite, documentation

deploy: bfd94a552ff8ccd557d44bfd197d673dcdb1e1cc
  index.html
  samples/index.html
  search/search_index.json
Labels: none

float as real support
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SomeTableBase.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, documentation

deploy: 64c5b69be59cd2aa7b05020d093971ba64253a78
  index.html
  samples/index.html
  search/search_index.json
Labels: none

sql extensions
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SomeTableBase.cs
  tests/Samples.AspApp.Tests/SQL/SqlTests.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, documentation

deploy: b22bc2cffe45b426743fa5a1a505c87595a09642
  index.html
  samples/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

GetMsSqlCollectionWithBaseAsync
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SqlTests.cs
Labels: SQL, documentation

deploy: 41f3d721e3ff50f4a33c3d313124d0530e81504b
  index.html
  search/search_index.json
Labels: none

datetime2
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  tests/Samples.AspApp.Tests/SQL/SomeTableBase.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: SQL, documentation

deploy: c6591471116312e09a97495549c052b3e99e561a
  index.html
  samples/index.html
  search/search_index.json
Labels: none

.net9
  Directory.Build.props
  samples/Samples.AspApp/Samples.AspApp.csproj
  samples/Samples.Worker.RabbitMq/Samples.Worker.RabbitMq.csproj
  src/FluentTesting.Asp/FluentTesting.Asp.csproj
  src/FluentTesting.Common/FluentTesting.Common.csproj
  tests/FluentTesting.Common.Tests/FluentTesting.Common.Tests.csproj
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
  tests/Samples.Worker.RabbitMq.Tests/Samples.Worker.RabbitMq.Tests.csproj
Labels: ASP, CORE

deploy: 1609c13f3e3956ccba8fde5baf37508f3df43ade
  index.html
  sitemap.xml.gz
Labels: none

.net9
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Directory.Build.props
  docs/index.md
Labels: DevOps, documentation

Update cd.yml
  .github/workflows/cd.yml
Labels: DevOps

Update ci.yml
  .github/workflows/ci.yml
Labels: DevOps

deploy: 17b6d6bf6aa2682ba1e642d8b4b02840e49003c5
  index.html
Labels: none

deploy: 877bd6958365a30217c06dd36d3574f28f4e9944
  index.html
Labels: none

Update index.md
  docs/index.md
Labels: documentation

Update Directory.Build.props
  Directory.Build.props
Labels: none

deploy: 12749994a1f10f7f5360a1c9c21b476d7351d427
  index.html
  search/search_index.json
Labels: none

deploy: 590a32f3f1d3338f6f596273ce9e835d412e3bae
  index.html
Labels: none

sql express by default
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Options/SqlOptions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: c330f219722ee358ba5c133414c4d30e7f95e9a6
  index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

wait
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: b31a82e69eba66b3447d3954725447e60d637479
  index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Common/Extensions/ContainerBuilderExtensions.cs
  src/FluentTesting.Common/Options/ContainerConfig.cs
  src/FluentTesting.Common/Options/WaitStrategy.cs
  src/FluentTesting.Sql/Options/SqlOptions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: CORE, SQL, documentation

deploy: b6cfd2ce4a01b20b69d0537a0a22a56eb14510d1
  index.html
  samples/index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: 13dc9273c07e593fac151903aae3f00f95e70ee6
  index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: f5c32948a9bc37a8e3a1459734a7a37e71be31b0
  index.html
  search/search_index.json
Labels: none

sql
  Directory.Build.props
  docs/index.md
  src/FluentTesting.Sql/SqlExtensions.cs
Labels: SQL, documentation

deploy: 543027b897e909fe05161f873df79435b06f17c7
  index.html
  search/search_index.json
Labels: none

.github/labeler.yml:

ASP:
 - src/FluentTesting.Asp/**
CORE:
 - src/FluentTesting/**
 - src/FluentTesting.Common/**
ELASTIC:
 - src/FluentTesting.Elasticsearch/**
KAFKA:
 - src/FluentTesting.Kafka/**
MONGO:
 - src/FluentTesting.Mongo/**
RabbitMQ:
 - src/FluentTesting.RabbitMq/**
Redis:
 - src/FluentTesting.Redis/**
SQL:
 - src/FluentTesting.Sql/**
PostgreSQL:
 - src/FluentTesting.PostgreSql/** 
DevOps:
 - .github/**
Azurite:
 - src/FluentTesting.Azurite/**   
documentation:
 - docs/**
