Repository Rades98/FluentTesting, pull requests merged in 2024-12, with the labels that each got.

#21 feature:addedBlob
  .github/labeler.yml
  FluentTesting.sln
  docs/blob/azureExplorer.md
  docs/blob/blob.md
  docs/elastic/elastic.md
  docs/index.md
  mkdocs.yml
  src/FluentTesting.Azurite/AzuriteContainerSettings.cs
  src/FluentTesting.Azurite/AzuriteExtensions.cs
  src/FluentTesting.Azurite/Containers/AzuriteContainerUtils.cs
  src/FluentTesting.Azurite/FluentTesting.Azurite.csproj
  src/FluentTesting.Azurite/Options/AzuriteOptions.cs
  src/FluentTesting/FluentTesting.csproj
  src/FluentTesting/common.props
Labels: CORE, DevOps, Azurite

#28 feature:websocket
  docs/blob/blob.md
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting.Asp/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting/common.props
Labels: ASP, CORE

#30 feature:ws
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting/common.props
Labels: ASP, CORE

#35 ws removal
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting.Asp/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting/common.props
Labels: ASP, CORE

#34 fix:32 fix config binding TimeSpan
  FluentTesting.sln
  docs/index.md
  src/FluentTesting.Common/Extensions/ConfigurationExtensions.cs
  tests/FluentTesting.Common.Tests/ConfigurationExtensionsTests.cs
  tests/FluentTesting.Common.Tests/FluentTesting.Common.Tests.csproj
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
Labels: CORE

#37 fixes
  FluentTesting.sln
  docs/index.md
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting.Asp/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Common/Extensions/ConfigurationExtensions.cs
  src/FluentTesting/common.props
  tests/FluentTesting.Common.Tests/ConfigurationExtensionsTests.cs
  tests/FluentTesting.Common.Tests/FluentTesting.Common.Tests.csproj
  tests/Samples.AspApp.Tests/Samples.AspApp.Tests.csproj
Labels: ASP, CORE

#40 Feature/36 rabbit mq
  .dockerignore
  .github/labeler.yml
  FluentTesting.sln
  docs/index.md
  docs/rabbit/rabbit.md
  docs/rabbit/rabbitManager.md
  docs/rabbit/rabbitSamples.md
  mkdocs.yml
  samples/Samples.AspApp/Program.cs
  samples/Samples.AspApp/Properties/launchSettings.json
  samples/Samples.AspApp/Samples.AspApp.csproj
  samples/Samples.Worker.RabbitMq/ConsumptionHandlingServices/ConsumptionHandler.cs
  samples/Samples.Worker.RabbitMq/ConsumptionHandlingServices/IConsumptionHandler.cs
  samples/Samples.Worker.RabbitMq/ConsumptionHandlingServices/StaticRabbitHandlerState.cs
  samples/Samples.Worker.RabbitMq/Contracts/RabbitMessage.cs
  samples/Samples.Worker.RabbitMq/Program.cs
  samples/Samples.Worker.RabbitMq/RabbitConnectionOptions.cs
  samples/Samples.Worker.RabbitMq/RabbitConsumerService.cs
  samples/Samples.Worker.RabbitMq/RabbitPublishingWorker.cs
  samples/Samples.Worker.RabbitMq/Samples.Worker.RabbitMq.csproj
  src/FluentTesting.Asp/AspApplicationFactory.cs
  src/FluentTesting.Asp/AspApplicationFactoryBuilder.cs
  src/FluentTesting.Common/Abstraction/ApplicationFactory.cs
  src/FluentTesting.Common/ApplicationFactoryBuilder.cs
  src/FluentTesting.Common/Extensions/MockExtensions.cs
  src/FluentTesting.Common/Interfaces/IApplicationFactory.cs
  src/FluentTesting.RabbitMq/Containers/RabbitMqContainerUtils.cs
  src/FluentTesting.RabbitMq/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.RabbitMq/Extensions/PrivateContractResolver.cs
  src/FluentTesting.RabbitMq/Extensions/RabbitMqMessage.cs
  src/FluentTesting.RabbitMq/FluentTesting.RabbitMq.csproj
  src/FluentTesting.RabbitMq/Options/Exchange.cs
  src/FluentTesting.RabbitMq/Options/RabbitMqOptions.cs
  src/FluentTesting.RabbitMq/RabbitMqContainerSettings.cs
  src/FluentTesting.RabbitMq/RabbitMqExtensions.cs
  src/FluentTesting/FluentTesting.csproj
  src/FluentTesting/common.props
  tests/Samples.Worker.RabbitMq.Tests/RabbitConsumerTests.cs
  tests/Samples.Worker.RabbitMq.Tests/RabbitPublisherTests.cs
  tests/Samples.Worker.RabbitMq.Tests/Samples.Worker.RabbitMq.Tests.csproj
  tests/Samples.Worker.RabbitMq.Tests/Shared/TestCollectionFixture.cs
  tests/Samples.Worker.RabbitMq.Tests/Shared/TestFixture.cs
Labels: documentation, ASP, CORE, RabbitMQ, DevOps

#47 #44 sql snapshot + restore
  docs/index.md
  samples/Samples.AspApp/Program.cs
  samples/Samples.AspApp/Repos/ISomeRepo.cs
  samples/Samples.AspApp/Repos/SomeRepo.cs
  src/FluentTesting.Sql/Extensions/ApplicationFactoryExtensions.cs
  src/FluentTesting.Sql/Extensions/FixtureExtensions.cs
  src/FluentTesting.Sql/Options/SqlOptions.cs
  src/FluentTesting.Sql/SqlExtensions.cs
  src/FluentTesting/common.props
  tests/Samples.AspApp.Tests/EndpointTests.cs
  tests/Samples.AspApp.Tests/Shared/TestFixture.cs
Labels: documentation, CORE, SQL

#49 support:sqldocs
  FluentTesting.sln
  docs/sql/extensions.md
  mkdocs.yml
Labels: documentation
